.randomBtn, .searchBar{
    text-align: center;
}

.searchBar{
    width: 25%;
    text-align: center;
    margin-bottom: 25px;
}

.searchBarContainer{
    
    text-align: center;
}



.navbar{
    
}

.navbar-item img{
    max-height: 66px;
}

.navbar-start, .navBtn{
    align-items: center;
}

